@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  padding: 0;
  margin: 0;
}

.width100 {
  width: 100%;
}

.height100 {
  height: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.height-100vh {
  height: 100vh;
}

.basic {
  height: 40px;
}